<section class="page-title" style="background-image:url(../../../../assets/images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Contact us</h1>
                <div class="text">Interested in our consulting services or need advice?</div>
            </div>
        </div>
    </div>
</section>
