<section class="business-section">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h2>About <b class="color">SOFT ZONE</b> for Information Systems </h2>
                    <div class="text">SOFT ZONE for Information Systems; Is an Egyptian shareholding company with main premises in Cairo. The Company has been founded by a proficient group of Information Technology skilled software engineers whose expertise is acknowledged throughout the IT Industry...</div>
                      
                     
                    <!-- More Box -->
                    <div class="more-about">
                        <a class="about" href="about.html">More About SOFT ZONE <span class="arrow flaticon-next-7"></span></a>
                    </div>
                    
                </div>
            </div>
            
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Pattern Layouts -->
                    <div class="pattern-layouts">
                        <div class="pattern-1"></div>
                        <div class="pattern-2"></div>
                        <div class="pattern-3"></div>
                    </div>
                    
                    
                    
                    
                    
                    <!-- Image Gallery -->
                    <div class="images-gallery">
                        <!-- Image One -->
                        <div class="image image-one">
                            <img src="../../../../assets/images/landing_slider_3.png" alt="" />
                        </div>
                        <!-- Image Two -->
                        <div class="image image-two">
                        <img src="../../../../assets/images/post-four-185x1852.png" alt="" />
                        </div>
                        <!-- Image Three -->
                        <div class="image image-three">
                            <img src="../../../../assets/images/post-four-185x185.png" alt="" />
                        </div>
                        <!-- Image Four -->
                        <div class="image image-four">
                            <img src="../../../../assets/images/portfolio_08.png" alt="" />
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
