<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer">
                <div class="col-md-6 right">All Rights © 2021 Reserved for Soft Zone.</div>
                <!-- <div class="col-md-6 left">All Rights © 2021 Reserved for Soft Zone.</div>     -->
            </div>
        </div><!-- row -->
    </div><!-- container -->    
</footer>



<div class="component">
    <button class="cn-button" id="cn-button" (click)="on();">+</button>
    <div class="cn-wrapper" id="cn-wrapper" [ngClass]="isOpen ?'opened-nav':''">
        <ul>
        <li></li>
        <li><a target="_blank" [href]="contacts.fb_link"><i class="fab fa-facebook-f"></i></a></li>
        <li><a target="_blank" href="mailto:contacts.email" >Mail</a></li>
        <li><a target="_blank" [href]="contacts.youtube_link"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div id="cn-overlay" class="cn-overlay" [ngClass]="isOpen ?'on-overlay':''"></div>
</div>
