<section class="sponsors-section">
    <div class="auto-container">
        
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel d-flex">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../../../../assets/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../../../../assets/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../../../../assets/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../../../../assets/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="../../../../../assets/images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
        
    </div>
</section>

<section id="contact-info">
    <div class="container wow fadeInDown">
        <div class="contact-info-title">
            <i class="fa fa-map-marker-alt"></i>
            <span>Contact Us</span>
        </div> 
        
        <div class="row">

            <div class="col-md-5">
                <div class="nabza wow fadeInDown">
                    <img class="img-responsive" src="../../../../../assets/images/footer-logo.png" alt="" />
                    <p [innerHTML]="about?.about_us_en"></p>
                </div>
            </div>  
            
            <div class="col-md-3">
                <div class="down-menu wow fadeInDown">
                    <h4>Short List</h4>
                    <ul class="down-menu-list">
                       <li><a routerLink="/">Home</a></li>
                       <li><a routerLink="/about">About Us</a></li>
                       <li><a routerLink="/Projects">Projects</a></li>
                       <li><a routerLink="/Testimonials">Testimonials</a></li>
                       <li><a routerLink="/Contact" class="text-white">Contact us</a></li>
                    </ul>
                </div> 
            </div>  
            
            <div class="col-md-4">
                <div class="contact-info wow fadeInDown">
                    <h4>Contact Info</h4>
                    <ul class="contact-info-list">
                       <li>{{contacts?.address_en}}</li>
                       <li><i class="fa fa-phone"></i>Phone : <span>{{phoneList}}</span></li>
                       <li *ngIf="contacts?.fax_lst"><i class="fa fa-mobile-alt"></i>Fax : <span>{{fax}}</span></li>
                       <li><i class="fa fa-envelope"></i>Email : <a href="mailto:contacts.email">{{contacts?.email}}</a></li>
                       <li><i class="fa fa-globe"></i>Website : <a  href="#"> www.soft-zone.net</a></li>
                    </ul>
                </div>     
            </div>                

        </div><!--/.row-->
    </div><!--/.container-->
</section>