<section class="in-touch-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Get In Touch</div>
            <h2>We’d Love To Here From You</h2>
            <div class="text">For genereal enquires you can touch with our front desk supporting team <br> at <a class="theme_color" href="mailto:contacts.email">{{contacts?.email}}</a> or call on <span class="theme_color"> {{phoneList}} </span></div>
        </div>
        
        <div class="row clearfix">
            
            <!-- Contact Info Boxed -->
            <div class="contact-info-boxed col-lg-4 col-md-6 col-sm-12">
                <div class="info-inner">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-world-1"></span>
                        </div>
                        <div class="text">{{contacts?.address_en}}<a class="scroll" (click)="scrollFn('location')">Find Us On Map  <span class="arrow flaticon-next-8"></span></a></div>
                    </div>
                </div>
            </div>
            
            <!-- Contact Info Boxed -->
            <div class="contact-info-boxed col-lg-4 col-md-6 col-sm-12">
                <div class="info-inner">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-phone-receiver"></span>
                        </div>
                        <div class="text"><strong>Support 24/7</strong><div *ngFor= "let phone of phones"> {{phone}}</div></div>
                    </div>
                </div>
            </div>
            
            <!-- Contact Info Boxed -->
            <div class="contact-info-boxed col-lg-4 col-md-6 col-sm-12">
                <div class="info-inner">
                    <div class="content">
                        <div class="icon-box">
                            <span class="icon flaticon-mail-2"></span>
                        </div>
                        <div class="text"><strong>Email</strong><a href="mailto:contacts.email">{{contacts?.email}}  <span class="arrow flaticon-next-8"></span></a> </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>
