<section class="section section-cards">
    <div class="codrops-header">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="section-description">
                    <img class="compon-img" src="../../../../assets/images/i-options-tiny.png" alt="">
                    <h3 class="title">Mobile Application</h3>
                    <p class="description">
                        We create mobile application services to keeping Space with progress and using technologies for the most popular platforms (IPhone - Android).
                    </p>
                    <a routerLink="/Mobile-Apps" class="theme-btn btn-style-three mt-4"><i>See More</i> <span class="arrow flaticon-next-8"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-intro ">
        <div class="isolayer isolayer--deco1 isolayer--shadow " style="transform-style: preserve-3d; transform: translateX(33vw) translateY(-340px) rotateX(45deg) rotateZ(45deg);">
            <ul class="grid grid--loaded" style="position: relative; width: 1200px; height: 1110px;">
                <li class="grid__item first-card" style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                    <a class="grid__link" ref="javascript:void(0);" style="z-index: 1;">
                        <img class="grid__img layer" src="../../../../assets/images/purple-card.png" alt="01" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                    </a>
                </li>
                <li class="grid__item second-card" style="position: absolute; left: 400px; top: 0px; z-index: 1;">
                    <a class="grid__link" ref="javascript:void(0);" style="z-index: 1;">
                        <img class="grid__img layer" src="../../../../assets/images/twitter-card.jpg" alt="02" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                    </a>
                </li>
                <li class="grid__item third-card" style="position: absolute; left: 800px; top: 0px;">
                    <a class="grid__link" ref="javascript:void(0);">
                        <img class="grid__img layer" src="../../../../assets/images/facebook-card.jpg" alt="03">
                    </a>
                </li>
                <li class="grid__item fourth-card" style="position: absolute; left: 0px; top: 300px; z-index: 1;">
                    <a class="grid__link" ref="javascript:void(0);" style="z-index: 1;">
                        <img class="grid__img layer" src="../../../../assets/images/pricing-card.jpg" alt="04" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                    </a>
                </li>
                <li class="grid__item fifth-card" style="position: absolute; left: 800px; top: 300px;">
                    <a class="grid__link" ref="javascript:void(0);">
                        <img class="grid__img layer" src="../../../../assets/images/blog-card.jpg" alt="05">
                    </a>
                </li>
                <li class="grid__item sixth-card" style="position: absolute; left: 400px; top: 510px;">
                    <a class="grid__link" ref="javascript:void(0);">
                        <img class="grid__img layer" src="../../../../assets/images/capture.jpg" alt="06">
                    </a>
                </li>
                <li class="grid__item seventh-card" style="position: absolute; left: 0px; top: 600px; z-index: 1;">
                    <a class="grid__link" ref="javascript:void(0);" style="z-index: 1;">
                        <img class="grid__img layer" src="../../../../assets/images/team-card.jpg" alt="07" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                    </a>
                </li>
                <li class="grid__item eight-card" style="position: absolute; left: 800px; top: 600px;">
                    <a class="grid__link" ref="javascript:void(0);">
                        <img class="grid__img layer" src="../../../../assets/images/testimonal-card.jpg" alt="07">
                    </a>
                </li>
                <li class="grid__item ninth-card" style="position: absolute; left: 400px; top: 810px;">
                    <a class="grid__link" ref="javascript:void(0);">
                        <img class="grid__img layer" src="../../../../assets/images/pricing-card-icon.jpg" alt="07">
                    </a>
                </li>
            </ul>
        </div>
    </div><!--/intro-->

</section>
