
<form [formGroup]="TaskForm">
    <div class="form-group">
        <div class="ui-inputgroup my-4 mx-auto">
            <span class="p-float-label">
                <input id="Name" type="text" pInputText  name="Name" formControlName="Name" class="form-control input-lg"> 
                <label for="Name">Name</label>
            </span> 
            <span *ngIf="f.Name?.errors  && submitted " class="has-error">
                      <label *ngIf="f.Name?.errors.required" class="control-label text-danger">Name Field is Required</label>
                      <label *ngIf="f.Name?.errors.pattern" class="control-label text-danger">Name may only contain alphabetic characters</label>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="ui-inputgroup my-4 mx-auto">
            <span class="p-float-label">
                <textarea id="Description" type="text" rows="3" cols="30"  name="Description" formControlName="Description" [style]="{'width':'100%'}" pInputTextarea class="form-control input-lg"></textarea> 
                <label for="Description">Description</label>
            </span> 
            <span *ngIf="f.Description.errors  && submitted " class="has-error">
                <label *ngIf="f.Description?.errors.required" class="control-label text-danger">Description is Required</label>  
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="ui-inputgroup my-4">
            <span class="p-float-label">
                <input pInputText id="Url" name="Url" formControlName="Url" class="form-control input-lg">
                <label for="Url">Url</label>
            </span> 
            <span *ngIf="f.Url?.errors  && submitted " class="has-error">
                <label *ngIf="f.Url?.errors.required" class="control-label text-danger">Url is Required</label>
            </span>
        </div>
    </div>
    <div class="form-group">     
        <div class="ui-inputgroup mb-4">
            <span class="p-float-label">
                <input pInputText id="UserName" name="UserName" formControlName="UserName" class="form-control input-lg">
                <label for="UserName">User Name</label>
            </span>
            <span *ngIf="f.UserName?.errors  && submitted " class="has-error">
                <label *ngIf="f.UserName.errors?.required" class="control-label text-danger">User Name is Required</label>
            </span>
        </div>
   </div>
   <div class="form-group">     
    <div class="ui-inputgroup mb-4">
        <span class="p-float-label">
            <input pInputText id="Password" name="Password" formControlName="Password" class="form-control input-lg">
            <label for="Password">Password</label>
        </span>
        <span *ngIf="f.Password?.errors  && submitted " class="has-error">
            <label *ngIf="f.Password.errors?.required" class="control-label text-danger">Password is Required</label>
        </span>
    </div>
</div>
<div class="form-group">     
    <div class="ui-inputgroup mb-4">
        <span>
            <label for="WorkImg">Image</label>
            <input pInputText type="file" id="WorkImg" name="WorkImg" formControlName="WorkImg" class="form-control input-lg">
        </span>
      
    </div>
</div>

    <div class="text-center mt-4">
        <p-button  pRipple styleClass="p-button-success" (click)="editTask();" [disabled]="TaskForm.invalid">Update </p-button>
      </div> 
</form>
<p-toast></p-toast>
