<app-banner-section></app-banner-section>
<app-featured-section></app-featured-section>
<app-business-section></app-business-section>
<app-industry-section></app-industry-section>
<app-projects-section></app-projects-section>
<app-testimonial-section></app-testimonial-section>
<app-mobile-application-section></app-mobile-application-section>
<app-latest-projects-section></app-latest-projects-section>