<header class="main-header header-style-three">
    <!-- Header Top Three -->
    <div class="header-top-three">
        <div class="auto-container clearfix">
           <div></div> 
            <!-- Top Left -->
            <div class="top-left">
                <ul class="left-list">
                    <li><span class="icon flaticon-pin"></span>{{contacts?.address_en}}</li>
                    <li><span class="icon flaticon-mail-1"></span>{{contacts?.email}}</li>
                </ul>
            </div>
            
            <!-- Top Right -->
            <div class="top-right clearfix">
                <ul class="social-box">
                    <li><a target="_blank" [href]="contacts.fb_link"><span class="icon fab fa-facebook-f"></span></a></li>
                    <li *ngIf="contacts?.twitter_link"><a target="_blank" [href]="contacts.twitter_link"><span class="icon fab fa-twitter"></span></a></li>						
                    <li><a target="_blank" [href]="contacts.youtube_link"><span class="icon fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="logo-outer">
                    <div class="logo"><a routerLink="/"><img src="../../../../../assets/images/logo-3.png" alt="" title=""></a></div>
                </div>

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Togg le Button -->      
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
                       
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li routerLinkActive="current"><a routerLink="/Home">Home</a></li>
                                <li (click)="onAbout()" class="dropdown"><a>About us</a>
                                    <ul [ngStyle]="openAbout ?{'display': 'block'}:{'display': 'none'}">
                                        <li><a routerLink="/about">About SOFT ZONE</a></li>
                                        <li><a routerLink="/MissionVision">Mission & Vision</a></li>										
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                                <li (click)="onServices()" class="dropdown"><a>Services</a>
                                    <ul  [ngStyle]="openServices ?{'display': 'block'}:{'display': 'none'}">
                                        <li><a routerLink="/Web-Development">Web Development</a></li>
                                        <li><a routerLink="/Mobile-Apps" >Mobile Apps Developement</a></li>
                                        <li><a routerLink="/Web-Design">Web Design</a></li>
                                        <li><a routerLink="/Desktop-Applications">Desktop Applications</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                                <li routerLinkActive="current"><a routerLink="/Projects" >Projects</a></li>
                                <li routerLinkActive="current"><a routerLink="/Testimonials">Testimonials</a></li>
                                <li routerLinkActive="current"><a routerLink="/Contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!-- Main Menu End-->
                    <div class="outer-box clearfix">
                        
                        <!-- Options Box -->
                        <div class="option-box clearfix">
                            
                            
                            
                            <!--Search Box-->
                            <div class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form>
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header animated slideInDown">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a routerLink="/" title=""><img src="../../../../../assets/images/logo-small.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            <li  routerLinkActive="current"><a routerLink="/Home">Home</a></li>
                            <li class="dropdown"><a>About us</a>
                                <ul>
                                    <li><a routerLink="/about">About SOFT ZONE</a></li>
                                    <li><a routerLink="/MissionVision">Mission & Vision</a></li>										
                                </ul>
                            </li>
                            <li class="dropdown"><a>Services</a>
                                <ul>
                                    <li><a routerLink="/Web-Development">Web Development</a></li>
                                    <li><a routerLink="/Mobile-Apps" >Mobile Apps Developement</a></li>
                                    <li><a routerLink="/Web-Design">Web Design</a></li>
                                    <li><a routerLink="/Desktop-Applications">Desktop Applications</a></li>
                                </ul>
                           
                            <li routerLinkActive="current"><a routerLink="/Projects">Projects</a></li>
                            <li routerLinkActive="current"><a routerLink="/Testimonials">Testimonials</a></li>
                            <li routerLinkActive="current"><a routerLink="/Contact" routerLinkActive="current">Contact</a></li>
                        </ul> 
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>