<section class="news-section">
    <div class="auto-container">
        
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title">PROJECTS</div>
                    <h2>Latest Projects</h2>
                    <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
                </div>
                <div class="pull-right">
                    <a routerLink="/Projects" class="theme-btn btn-style-four"><i>More News</i> <span class="arrow flaticon-next-8"></span></a>
                </div>
            </div>	
        </div>
        
        <div class="row clearfix">
            
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12" *ngFor= "let project of projects.slice(0, 3); let i =index;" >
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img [src]="project?.img_name" alt="" />
                        <a [routerLink]="['/Project-Details/',project.news_id]" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">							
                        <h3><a [routerLink]="['/Project-Details/',project.news_id]">{{project?.news_title}}</a></h3>
                        <a class="read-more" [routerLink]="['/Project-Details/',project.news_id]"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>

