<section class="page-title" style="background-image:url(../../../../assets/images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Testimonials</h1>
                <div class="text">More than 2000 clients share their thoughts about us</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li>Testimonials</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-section">
    <div class="auto-container">
        
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Testimonials</div>
            <h2>Words From Customers</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective industries and our team works.</div>
        </div>
        
        <div class="row clearfix">
            
            <!-- Quote Column -->
            <div class="quote-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Quote Icon -->
                    <div class="quote-icon">
                        <span class="icon flaticon-quote-1"></span>
                    </div>
            
                </div>
            </div>
            
            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="testimonial-carousel">
                        
                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="client-logo">
                                    <p-carousel [value]="sliders" [style]="{'max-width':'400px'}" verticalViewPortHeight="290px" [autoplayInterval]="3000" [numVisible]="1" [numScroll]="1">
                                        <ng-template let-slider pTemplate="item" >
                                            <img [src]="slider.imageUrl" alt="" />
                                            <div class="text">{{slider.des}}</div>
                                        </ng-template>
                                    </p-carousel>
                                   
                                </div>
                                
                               
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
</section>
