<section class="page-title" style="background-image:url(../../../../assets/images/background/2.jpg);">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Project Details</h1>
                <div class="text">Flexible, transparent pricing that adapts to your needs</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a routerLink="/Home">Home</a></li>
                    <li><a routerLink="/Projects">Projects</a></li>
                    <li>Project Details</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
                <!-- Content Side / Blog Single -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-single">
                        <div class="inner-box">
                            <!-- Title Box -->
                            <div class="title-box">
                                <h2>{{project.data.news_title}}</h2>
                            </div>
                            <div class="lower-content">
                                <div class="text">
                                    <div class="image">
                                        <p-galleria [(value)]="project.data.news_images" [responsiveOptions]="responsiveOptions"  [numVisible]="5"> 
                                            <ng-template pTemplate="item" let-item >
                                                <img [src]="item.img_name" style="width: 100%; display: block;" />
                                            </ng-template>
                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div class="p-grid p-nogutter p-justify-center">
                                                    <img [src]="item.img_name" />
                                                </div>
                                            </ng-template>
                                        </p-galleria>
                                    </div>
                                    <!-- <a target="_blank" href="https://wafaraktar.com">{{project.data.news_title}}</a> -->

                                    <p [innerHTML]="project.data.news_content">
                                       
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-inner">
                        <!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h2>Services</h2>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    <li routerLinkActive="active"><a routerLink="/Web-Development">Web Development</a></li>
                                    <li routerLinkActive="active"><a routerLink="/Mobile-Apps" >Mobile Apps Developement</a></li>
                                    <li routerLinkActive="active"><a routerLink="/Web-Design">Web Design</a></li>
                                    <li routerLinkActive="active"><a routerLink="/Desktop-Applications">Desktop Applications</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </aside>
            </div>


        </div>
    </div>
</div>
<!-- <section class="container my-4 mx-auto">

<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px', 'margin':'auto'}" [numVisible]="5"> 
    <ng-template pTemplate="item" let-item >
        <img [src]="item.imageUrl" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.imageUrl" />
        </div>
    </ng-template>
</p-galleria>

</section> -->