<aside class="sidebar">
    <div class="left-sidebar">
        
        <!-- Categories Widget -->
        <div class="sidebar-widget services-widget">
            <div class="widget-content">
                <ul class="blog-cat-three">
                    <li routerLinkActive="active"><a routerLink="/Web-Development">Web Development</a></li>
                    <li routerLinkActive="active"><a routerLink="/Mobile-Apps" >Mobile Application</a></li>
                    <li routerLinkActive="active"><a routerLink="/Web-Design">Web Design</a></li>
                    <li routerLinkActive="active"><a routerLink="/Desktop-Applications">Desktop Applications</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</aside>