<section class="industry-section" style="background-image:url(../../../../assets/images/background/1.jpg)">
    <div class="auto-container">
        
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">Sectores</div>
            <h2>Solutions We Serve</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
        </div>
        
        <div class="row clearfix">

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Design</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a1.png" alt="" /></span>
                        </div>
                
                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Digital Services</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a2.png" alt="" /></span>
                        </div>
                        
                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            
            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Consulting</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a3.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            
            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Inspecting</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a4.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            
            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Planning</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a5.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            
            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Restructuring </h3>
                        <div class="icon-box">
                            <span class="icon"><img src="../../../../assets/images/a6.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a routerLink="/Web-Development" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- Button Box -->
        <div class="btn-box text-center wow rubberBand" data-wow-delay="0ms" data-wow-duration="1500ms">
            <a routerLink="/Web-Development" class="theme-btn btn-style-three"><i>More Solutions</i> <span class="arrow flaticon-next-8"></span></a>
        </div>
        
    </div>
</section>
