<section class="page-title" style="background-image:url(../../../../assets/images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>About SOFT ZONE</h1>
                <div class="text">More than 2000 clients share their thoughts about us</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li>About SOFT ZONE</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="we-are-section">
    <div class="auto-container">
        <!-- Big Image -->
        
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Who we Are</div>
            <h2>About SOFT ZONE for Information Systems </h2>
        </div>
        
        <div class="row clearfix">
            
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text">
                        <p [innerHTML]="about?.about_us_en"></p>
                        <!-- <p>Solving your problems is what we do. We do not rest until we give you the best</p> -->
                        
                    </div>
                    <!-- Signature Box -->
                    
                </div>
            </div>
            
            <!-- Skill Column -->
            <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                <img src="../../../../assets/images/we-are.png" alt ="" />
            </div>
            
        </div>
        
    </div>
</section>

