<section class="page-title" style="background-image:url(../../../../assets/images/background/2.jpg);">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Projects</h1>
                <div class="text">Flexible, transparent pricing that adapts to your needs</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Projects</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="news-section">
    <div class="container">
        <div class="row clearfix">
            
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12" *ngFor= "let project of projects; let i =index;">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img [src]="project?.img_name" alt="" />
                        <a [routerLink]="['/Project-Details/',project.news_id]" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">							
                        <h3><a [routerLink]="['/Project-Details/',project.news_id]">{{project?.news_title}}</a></h3>
                        <a class="read-more" [routerLink]="['/Project-Details/',project.news_id]"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
