<section class="page-title" style="background-image:url(../../../../../assets/images/background/2.jpg);">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Services</h1>
                <div class="text">SOFT ZONE Provides a wide range of solutions, and operations at the highest quality to guarantee customer’s satisfaction.</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a routerLink="/">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="sidebar-page-container">
    <div class="container">
        <div class="row clearfix">
            
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <app-sidebar-side></app-sidebar-side>
            </div>
            
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="services-single">
                    <div class="inner-box">
                        <h2>Web Design</h2>
                        <div class="text">
                            <div class="image">
                                <img src="../../../../../assets/images/service-a4.jpg" alt="" />
                            </div>
                            <p>We take care that each design to be a suitable and attractive to work for the client and easy to deal with it.</p>
                
                            
                        </div>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

