<section class="featured-section">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="../../../../assets/images/1.png" alt="" /></div>
                    <h3><a routerLink="/Web-Development">Web Development</a></h3>
                    <a class="read-more" routerLink="/Web-Development"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>
            
            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="../../../../assets/images/2.png" alt="" /></div>
                    <h3><a routerLink="/Mobile-Apps">Mobile Apps Developement</a></h3>
                    <a class="read-more" routerLink="/Mobile-Apps"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div> 
            </div>
            
            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="../../../../assets/images/3.png" alt="" /></div>
                    <h3><a routerLink="/Web-Design">Web Design</a></h3>
                    <a class="read-more" routerLink="/Web-Design"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>
            
            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="../../../../assets/images/4.png" alt="" /></div>
                    <h3><a routerLink="/Desktop-Applications">Desktop Applications</a></h3>
                    <a class="read-more" routerLink="/Desktop-Applications"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>
            
        </div>
    </div>
</section>
