<section class="projects-section">
    <div class="auto-container">
        
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Case Studies</div>
            <h2>Latest Projects</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
        </div>
        
    </div>
     
    <div class="outer-container">
            
        <div class="projects-carousel">   
            <!-- Project Block -->
                <p-carousel [value]="projects.slice(0, 6)" [responsiveOptions]="responsiveOptions"  [autoplayInterval]="4000" [numVisible]="5" [numScroll]="1">
                    <ng-template let-project pTemplate="item" >
                        <div class="project-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img [src]="project?.img_name" alt="" />
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <a class="title read-more text-truncate" style="max-width: 190px;" [routerLink]="['/Project-Details/',project.news_id]">{{project?.news_title}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </ng-template>              
                </p-carousel>
                 
        </div>
        
    </div>
    
</section>
