<div class="card">
    <p-table #dt [value]="list" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['Name','list.start_date','list.active','list.note']"
    [rowHover]="true"
    >
    
      <ng-template pTemplate="caption">
        <div class="d-flex p-ai-center justify-content-between">
            <div>
                <button pButton pRipple label="Add New Task" icon="pi pi-plus" class="p-button-success mx-2" (click)="addTaskDialog()"></button>
               
            </div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
       
    </ng-template>
          <ng-template pTemplate="header">
              <tr>
        
                <th>Image</th>
                  <th field="name" pSortableColumn="name">
                      Name <i class="pi pi-sort"></i>
                </th>
                  <th>Description</th>
                  <th>Url</th>
                  <th>User Name</th>
                  <th>Password</th>
                  <th>Actions</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-list>
              <tr>
                  <td><img [src]="list.WorkImg" width="100" /></td>
                  <td>{{list.Name}}</td>
                  <td>{{list.Description}}</td>
                  <td>{{list.Url}}</td>
                  <td>{{list.UserName}}</td>
                  <td>{{list.Password}}</td>
                  <td>
                    <button pButton pRipple icon="pi pi-pencil" (click)="editTaskDialog(list.Id)" type="button" class="p-button-raised p-button-rounded p-button-warning mx-2"></button>
                    <button pButton pRipple icon="pi pi-trash" (click)="deleteTask(list.Id)" type="button" class="p-button-raised p-button-rounded p-button-danger"></button>
                  </td>
              </tr>
          </ng-template>
              <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Tasks found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
    <p-toast ></p-toast>