<section class="contact-form-section">
    <div class="auto-container">
        
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title">Send Your Message</div>
                    <h2>Send Your Message</h2>
                </div>
                <div class="pull-right">
                    <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective industries and our team works.</div>
                </div>
            </div>	
        </div>
        
        <!-- Inner Container -->
        <div class="inner-container">
            
            <!-- Contact Form -->
            <div class="contact-form">
                
                <!--Contact Form-->
                <form [formGroup]="ContactUsForm">
                    <div class="row clearfix">
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label>Your name <i style="color: red;">*</i></label>
                            <input type="text" formControlName="user_name" name="username" placeholder="Enter Your Name" required>
                            <span *ngIf="f.user_name?.errors  && submitted " class="has-error">
                                <label *ngIf="f.user_name?.errors.required" class="control-label text-danger">This Field is Required</label>
                                <label *ngIf="f.user_name?.errors.pattern" class="control-label text-danger">This may only contain alphabetic characters</label>
                            </span>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label>Email address <i style="color: red;">*</i></label>
                            <input type="email" name="email" placeholder="Enter Your E-mail" formControlName="user_email" required>
                            <span *ngIf="f.user_email?.errors  && submitted " class="has-error">
                                <label *ngIf="f.user_email?.errors.email || f.user_email?.errors.pattern" class="control-label text-danger"> Email not valid</label>
                                <label *ngIf="f.user_email?.errors.required" class="control-label text-danger">This Field is Required</label>    
                            </span>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label>Phone number <i style="color: red;">*</i></label>
                            <input type="text" name="phone" placeholder="Enter Your Phone" formControlName="phone" required>
                            <span *ngIf="f.phone?.errors  && submitted " class="has-error">
                                <label *ngIf="f.phone?.errors.pattern" class="control-label text-danger"> Phone not valid</label>
                                <label *ngIf="f.phone?.errors.required" class="control-label text-danger">This Field is Required</label>    
                            </span>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                            <label>Subject <i style="color: red;">*</i></label>
                            <input type="text" name="website" placeholder="Enter Your Subject" formControlName="inquiry_subject" required>
                            <span *ngIf="f.inquiry_subject?.errors  && submitted " class="has-error">
                                <label *ngIf="f.inquiry_subject?.errors.required" class="control-label text-danger">This Field is Required</label>    
                            </span>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Your Message <i style="color: red;">*</i></label>
                            <textarea class="" name="message" placeholder="Write your message here. . ." formControlName="inquiry_msg"></textarea>
                            <span *ngIf="f.inquiry_msg?.errors  && submitted " class="has-error">
                                <label *ngIf="f.inquiry_msg?.errors.required" class="control-label text-danger">This Field is Required</label>
                                <label *ngIf="f.inquiry_msg?.errors.pattern" class="control-label text-danger">Special characters are not accepted</label>    
                            </span>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center form-group">
                            <button class="theme-btn submit-btn" (click)="sendContactMessage()">Send Message <span class="arrow flaticon-next-8"></span></button>
                        </div>
                        
                    </div>
                </form>
                <p-toast position="center"></p-toast>    
            </div>
            <!--End Contact Form -->
            
        </div>
        
    </div>
</section>
