<section class="contact-form-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered" id="location">
            <div class="title">Our Location</div>
            <h2>SOFT ZONE ON MAP</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective industries and our team works.</div>
        </div>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.6507102639034!2d31.3610346848611!3d31.035979881532498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec7d8cc1f0d930e5!2sSoftzone%20Company!5e0!3m2!1sar!2seg!4v1607979958895!5m2!1sar!2seg"
               frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
          
        </div>

        
    </div>
</section>
<!-- <agm-map 
[latitude]="31.168410" 
[longitude]="31.222030" 
[zoom]="16" >
  <agm-marker 
  [latitude]="31.168410" 
  [longitude]="31.222030"></agm-marker>
</agm-map> -->