<div class="page-wrapper">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-contact-info></app-contact-info>
  <app-footer></app-footer>

  <!--Scroll to top-->
<div (click)="scrollToTop()" class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

</div>
