<section class="banner-section">
  <div class="banner-carousel">
    <ngb-carousel *ngIf="sliders">
      <ng-template ngbSlide *ngFor= "let slider of sliders; let i =index;">
        <div class="auto-container clearfix slide-item mw-100" [ngStyle]="{'background-image':'url('+slider.slider_att_name+')'}">
          <!-- Content Box -->
          <div class="content-box">
              <div class="inner auto-container">
                <div class="row">
                  <div class="col-8">
                    <h2 class="text-dark" style="word-wrap: break-word">{{slider?.slider_title_en}}</h2>
                    <div class="text text-dark" style="word-wrap: break-word">{{slider?.slider_content_en}}</div>
                    <div class="link-box">
                        <a routerLink="/about" class="theme-btn btn-style-two"><i>More About Us</i> <span class="arrow flaticon-next-8"></span></a>                                
                    </div>
                  </div>
                </div>
                
            
              </div>
          </div>
        </div>
      </ng-template>
  
    </ngb-carousel>
  </div>
 

 
</section>

